.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}

.logo {
    max-height: 3.5rem;
}

.search-area {
    background-color: #dcdcdc;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
}

.search-input {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    margin: 0 0.6rem;
}

.header-notification {
    position: absolute;
    left: 0;
    margin-top: 0.2rem;
    width: 16rem;
    background-color: white;
    color: black;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
}

.notification-image {
    width: 3rem;
    border-radius: 0.1rem;
}

.notification-user {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.notification-text {
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.notification-time {
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #919aa3;
}

.header-comment {
    position: absolute;
    height: calc(100vh - 3.5rem);
    width: 18rem;
    background-color: white;
    color: black;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    display: none;
}

.header-comment-wrapper {
    height: calc(100vh - 6rem);
    overflow: auto;
}

.header-comment-wrapper::-webkit-scrollbar {
    display: none;
}

.comment-user {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 0.8rem;
}

.comment-user-status {
    font-size: 0.4rem;
}

.header-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin: 0.2rem;
}

.header-username {
    color: #333333;
    font-size: 0.8rem;
}

.header-profile {
    position: absolute;
    margin: 0.2rem;
    left: -1.8rem;
    top: 2rem;
    z-index: 1000;
    height: auto;
    width: 13rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
    display: none;
}

.header-profile-link {
    padding: 0.4rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.header-profile-link>i {
    width: 0.2rem;
    text-align: center;
    margin-left: 1rem;
}

@media only screen and (max-width : 767.98px) {
    .header {
        display: block;
    }

    .sidebar-header {
        width: 100%;
    }

    .body-header {
        display: none;
        width: 100%;
    }
}

.body-container {
    margin-top: 3.5rem;
    z-index: 10000;
}

.sidebar {
    flex: 0 0 14rem;
    background-color: #404e67;
    color: #dcdcdc;
    width: 16.4%;
    /* position: fixed; */
    right: 0;
    top: 3.5rem;
    z-index: 10000;
}

.sidebar-container {
    height: calc(100vh - 3.5rem);
}

.sidebar-wrapper {
    padding: 1rem 0;
    overflow: auto;
}

.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.sideba-part-title {
    font-size: 0.9rem;
    padding: 0 1rem;
    margin-top: 1rem;
    color: #999999;
}

.sidebar-link {
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all 0.3s;
}

.sidebar-link:hover {
    text-decoration: none;
    color: #fe8a7f;
}

.sidebar-link>i {
    width: 2rem;
    text-align: center;
}

.sidebar-group-link {
    font-size: 0.8rem;
    padding: 0.4rem 0;
    color: #dcdcdc;
}

.sidebar-group-link-active {
    border-right: 3px solid #fe8a7f;
}

.sidebar-group-link>.sidebar-dropdown {
    display: none !important;
    height: 0 !important;
}

.sidebar-group-link-active>.sidebar-dropdown {
    height: auto;
    display: block;
}

.sidebar-dropdown-toggle {
    cursor: pointer;
    padding: 0.2rem 1rem;
    transition: all 0.3s;
}

.sidebar-dropdown-toggle:hover span {
    color: #f7f7f7;
}

.sidebar-dropdown-toggle .icon {
    width: 2rem;
    text-align: center;
}

.sidebar-dropdown-toggle .angle {
    float: left;
    padding: 0.4rem 0;
}

.sidebar-part-title {
    font-size: 1rem;
    margin-top: 1rem;
    color: #919aa3;
}

.sidebar-dropdown a,
button {
    padding: 0.2rem 1rem;
    display: block;
    text-decoration: none;
    background-color: inherit;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all 0.3s;
}

.sidebar-dropdown a::before,
button::before {
    content: ">>";
    margin: 0.8rem;
}

.sidebar-dropdown a:hover,
button:hover {
    color: #fe8a7f;
}

.main-body {
    width: calc(100% - 14rem);
    padding: 1rem;
    min-height: calc(100% - 3.5rem);
    background-color: #f3f3f3;
}

@media only screen and (max-width : 767.99px) {
    .sidebar {
        /* display: none; */
        width: 320px;
        z-index: 9;
        height: calc(100% - 3.5rem);
        position: fixed;
        top: 3.5rem;
        right: 0;
    }

    .sidebar-container {
        position: relative;
        width: 320px;
        height: 100%;
        top: 0;
    }

    .main-body {
        width: 100%;
        z-index: 2;
    }
}

.info-box-body {
    font-size: 0.9rem;
    line-height: 1rem;
}

.info-box-body p {
    font-size: 0.7rem;
    line-height: 1rem;
}

.info-box-icon i {
    font-size: 2rem;
}

.info-box-footer {
    font-size: 0.6rem;
}

.main-body-container {
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 0.25rem;
    padding: 1rem;
}

.main-body-container h5 {
    font-size: 1rem;
    font-weight: bold;
}

.main-body-container p {
    font-size: 0.8rem;
    color: #777;
}

.body-content p {
    font-size: 0.8rem;
}