@font-face {
    src: url("../fonts/iran sans/WebFonts/fonts/ttf/IRANSansWeb_Light.ttf") format("ttf"),
        url("../fonts/iran sans/WebFonts/fonts/woff/IRANSansWeb_Light.woff") format("woff");
    font-family: IRANSans;
}

* {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

.bg-gray {
    background-color: #404e67;
    color: #dcdcdc;
}

.sidebar-header {
    flex: 0 0 14rem;
}

.body-header {
    background-color: #ffffff;
    width: calc(100% - 14rem);
}

.pointer {
    cursor: pointer;
}

.bg-custom-yellow {
    background: -webkit-gradient(left top, right top, from(#feb798), to(#fe9365));
    background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green {
    background: -webkit-gradient(left top, right top, from(#0df3a3), to(#0ac282));
    background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink {
    background: -webkit-gradient(left top, right top, from(#fe909d), to(#fe5d78));
    background: linear-gradient(to right, #fe909d, #fe5d78);
}

.bg-custom-blue {
    background: -webkit-gradient(left top, right top, from(#01dbdf), to(#01a9ac));
    background: linear-gradient(to right, #01dbdf, #01a9ac);
}

    
